.tracks {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
/*src/ui/tracks.css*/
.track {
    border: 1px solid #747bff;
    border-radius: 8px;
    padding: 10px;
}

.track.selected {
    border-color: #ffc464;
}

